
 
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 20, 20);
    margin: 0;
}


navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}

navbar a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.leftnav a{
    order: 1; /* Set the order of the left nav to 1 */
    padding-left: 30px;
}

.rightnav a{
    order: 2; /* Set the order of the right nav to 2 */
    padding-right: 30px;
}

footer {
    background-color: rgb(241, 237, 237);
    color: rgb(110, 108, 108);
    width: 100%;
}

footer a {
    text-decoration: none;
    color: rgb(110, 108, 108);
}

.leftfooter, .centerfooter, .rightfooter {
    display: inline-flex;
    padding: 10px 0px;

}

.top-footer{
    display: flex;
    align-items:start;
    padding: 2px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;

}

.bottom-footer{
    flex-wrap: wrap;
}

.leftfooter{
    align-items:start;
    min-width: 30%;
    order: 2;
    justify-content: space-evenly;
}

.centerfooter{
    align-items:center;
    min-width: 30%;
    order: 1;
    justify-content: space-evenly;

}

.rightfooter{
    min-width: 30%;
    order: 3;
    align-items:end;
    justify-content: space-evenly;

}


.leftfooter a:hover{
    text-decoration: underline;
}

.rightfooter a:hover{
    text-decoration: underline;
}


form{
    padding-bottom: 137px;

}


button{
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 11px 4px;    
}

button:hover{
    cursor: pointer;
}


.inputField{
    border-radius: 40px;
    width: 600px;
    height: 40px;
    font-size: large;
    border-width: thin;
    border-color: black;
}

.inputField:focus{
  outline: none;
}

.googlelogo{
    padding-top: 70px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    /* Mobile devices (up to 767px) */
     
    .inputField{
        width: 100%;
    }
    
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Tablets (768px to 1023px) */
  
  }
  
  @media only screen and (min-width: 1024px) {
    /* Desktops (1024px and up) */
  }