
 
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 20, 20);
    margin: 0;
}



navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;

}

navbar a{
    text-decoration: none;
    color: rgb(20, 20, 20);
}

.leftnav {
    order: 1; /* Set the order of the left nav to 1 */
    margin-left: 30px; /* Add some margin to the right of the left nav */
    justify-content: space-between;

}

.rightnav {
    order: 2; /* Set the order of the right nav to 2 */
    margin-right: 30px; /* Add some margin to the right of the left nav */
    justify-content: space-between;

}

footer {
    background-color: rgb(241, 237, 237);
    color: rgb(110, 108, 108);

}

footer a {
    text-decoration: none;
    color: rgb(110, 108, 108);
}

.leftfooter, .centerfooter, .rightfooter {
    display: inline-flex;
    padding: 10px 0px;

}

.top-footer{
    display: flex;
    align-items:start;
    padding: 2px 30px;
    border-bottom: 1px solid #3c4043;
    font-size: 15px;

}

.bottom-footer{
    flex-wrap: wrap;
}

.leftfooter{
    align-items:start;
    min-width: 30%;
    order: 1;
    justify-content: space-evenly;
}

.centerfooter{
    align-items:center;
    min-width: 30%;
    order: 2;
    justify-content: space-evenly;

}

.rightfooter{
    min-width: 30%;
    order: 3;
    align-items:end;
    justify-content: space-evenly;

}


.leftfooter a:hover{
    text-decoration: underline;
}

.rightfooter a:hover{
    text-decoration: underline;
}




button{
    border: none;
    border-radius: 0;
}


.inputField{
    border-radius:25px;
}